# this notebook is for string exercise

In [1]:
my_var = 'Hello'

In [2]:
print ('my_var')

my_var

In [3]:
print(my_var)

Hello

In [4]:
'Hello'

'Hello'

In [5]:
Hello

NameError: name 'Hello' is not defined

In [6]:
"Hello"

'Hello'

In [7]:
'this is also a string'

'this is also a string'

In [8]:
"I'll become python expert"

"I'll become python expert"

using escape characters with strings

In [9]:
print('this \nis \tescape characters \"test\"')

this
is 	escape characters "test"

finding length of string

In [10]:
len('Hello world')

11

In [11]:
len('a')

1

# Indexing and slicing with strings

In [12]:
mystring = "Test string"

In [13]:
mystring

'Test string'

In [14]:
mystring[0]

'T'

In [15]:
len(mystring)

11

In [16]:
mystring[-3]

'i'

Negative index

In [17]:
mystring[-1]

'g'

In [18]:
mystring = "0123456789"

In [19]:
mystring

'0123456789'

In [20]:
mystring[0]

'0'

In [21]:
mystring[2:]

'23456789'

In [22]:
mystring[:3]

'012'

In [23]:
mystring[2:5]

'234'

In [26]:
mystring[::-1]

'9876543210'

In [27]:
mystring[2:8:3]

'25'

# String Properties and methods

# # immutability

In [28]:
name = "Sam"

In [30]:
# name[0] = 'R'

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-29-acbce0d18936> in <module>()
----> 1 name[0] = 'R'

TypeError: 'str' object does not support item assignment

In [31]:
last_letters = name[1:]

In [33]:
'R'+ last_letters

'Ram'

above example was for concatenation of string. below example is multiplication of strings

In [34]:
letter = 'z'

In [35]:
letter = letter * 10

In [36]:
letter

'zzzzzzzzzz'

points to remember about string concatenation using + sign with number
1. number + number = sum
2. 'number' + 'Number' = Number number

In [37]:
2 + 3

5

In [38]:
'2' + '3'

'23'

some commone string functions

In [39]:
x = 'Hello World'

In [41]:
x.count('l')

3

In [42]:
x.upper()

'HELLO WORLD'

In [43]:
x.lower()

'hello world'

In [44]:
x.split()

['Hello', 'World']

# # Print formatting with strings

# Formatting with .format() function

'String {}'.format('string to be inserted at the place of curly braces')

In [45]:
print('test {}'.format('String to be inserted'))

test String to be inserted

In [49]:
print('Dil ki {0} ajeeb {0} hai, ye ujadne k baad {0} hai'.format('basti'))

Dil ki basti ajeeb basti hai, ye ujadne k baad basti hai

In [53]:
print ('{} wale kabhi nahi {}'.format('Jaane','aate','jate'))

Jaane wale kabhi nahi aate

In [55]:
print ('{0} wale kabhi nahi {2}'.format('Jaane','aane','aate','jate'))

Jaane wale kabhi nahi aate

In [56]:
print ('{a} wale kabhi nahi {at}'.format(j = 'Jaane',a = 'aane',at = 'aate',jt = 'jate'))

aane wale kabhi nahi aate

#Float formatting "{value:width.precision f}"

In [61]:
result = 443/511

In [62]:
result

0.8669275929549902

In [63]:
print('the result is {}'.format(result))

the result is 0.8669275929549902

In [64]:
print('the result is {0:1.2}'.format(result))

the result is 0.87

In [65]:
print('the result is {r:2.4}'.format(r = result))

the result is 0.8669

# Formatted strings or f strings

In [66]:
name = 'Ravi'

In [67]:
print (f'My name is {name}')

My name is Ravi