# datetime

In [1]:
import datetime

In [3]:
time = datetime.time(9,5,23)

In [4]:
print (time)

09:05:23

In [5]:
time.hour

9

In [6]:
time.max

datetime.time(23, 59, 59, 999999)

In [7]:
time.microsecond

0

In [8]:
time.minute

5

In [9]:
datetime.time

datetime.time

In [10]:
print (datetime.time.min)

00:00:00

In [11]:
# checking resolution of date time
print (datetime.time.resolution)

0:00:00.000001

* datetime will not store date unlike datetime format in webmethods

In [12]:
today = datetime.date.today()

print(today)

2019-06-15

In [13]:
today.timetuple()

time.struct_time(tm_year=2019, tm_mon=6, tm_mday=15, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=166, tm_isdst=-1)

In [14]:
today.year

2019

In [15]:
today.month

6

In [16]:
today.day

15

In [17]:
print (datetime.date.min)

0001-01-01

In [18]:
print (datetime.date.max)

9999-12-31

In [20]:
print (datetime.date.resolution)

1 day, 0:00:00

In [23]:
d1 = datetime.date(2019,6,5)
print(d1)

2019-06-05

In [24]:
d2 = d1.replace(year = 2016)
print(d2)

2016-06-05

In [25]:
# time differnce
d1 - d2

datetime.timedelta(1095)

In [26]:
print(d1-d2)

1095 days, 0:00:00